@value to-mobile, from-mobile from '/theme/vars.css';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  @media (min-width: from-mobile) {
    height: 184px;
  }
}
