@value mobile-width, tablet-width from '/theme/vars.css';

.container {
  @media (min-width: mobile-width + 1) {
    width: calc(100% - 88px);
  }

  @media (min-width: tablet-width + 1) {
    width: calc(100% - 152px);
  }

  width: calc(100% - 56px);
  max-width: 1128px;
  margin-left: auto;
  margin-right: auto;
}
