{
  "plugins": [
    "transform-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-transform-runtime", { "regenerator": true }],
    "macros"
  ],
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": "entry" }],
    "@lingui/react"
  ],
  "env": {
    "development": {
      "presets": [["@babel/preset-react", { "development": true }]]
    },
    "production": {
      "presets": ["@babel/preset-react"]
    }
  }
}
