@value main-blue-10, main-blue, from-mobile, to-mobile from '/theme/vars.css';

.languages {
  position: relative;
}

.toggle {
  height: 32px;
  display: flex;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  background-color: main-blue-10;
  color: main-blue;
}

.lang {
  @media (max-width: to-mobile) {
    display: none;
  }
}

.short-lang {
  @media (min-width: from-mobile) {
    display: none;
  }
}

.arrow {
  margin-left: 7px;
}

.select {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
