<table class="container" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" class="content-wrapper webversion__cell">
            <a class="webversion__link" href="{$url}">{{i18n @global.translation 'email.template.webversion' }}</a>
        </td>
    </tr>
</table>
