@value main-blue from '/theme/vars.css';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 100px;
  position: relative;
  padding-left: 14px;
  padding-right: 14px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    .icon {
      opacity: 0;
    }

    .hover-icon {
      opacity: 1;
    }
  }

  &.blue {
    color: #fff;
    background-color: main-blue;
    border: 2px solid main-blue;

    &:hover {
      background-color: #fff;
      color: main-blue;
    }
  }

  &.white {
    color: main-blue;
    background-color: #fff;
    border: 2px solid #fff;

    &:hover {
      background-color: main-blue;
      color: #fff;
    }
  }

  &.normal {
    height: 28px;
    font-size: 12px;
  }

  &.large {
    height: 64px;
    font-size: 16px;
  }
}

.icon {
  margin-left: 15px;
  transition: opacity 0.2s ease-in-out;
}

.hover-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
