@value main-black-60, from-tablet, from-mobile from '/theme/vars.css';

.hide-form {
  display: none;
}

.form {
  margin-top: 32px;

  @media (min-width: from-mobile) {
    margin-top: 48px;
  }

  @media (min-width: from-tablet) {
    margin-top: 64px;
  }
}

.box {
  margin-bottom: 32px;
  display: block;
  max-width: 404px;
  width: 100%;

  @media (min-width: from-mobile) {
    max-width: 378px;
  }

  @media (min-width: from-tablet) {
    max-width: 424px;
  } 
}

.title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.054em;
  margin-bottom: 32px;
}

.submit {
  margin-top: 10px;
}
