@value main-black-60 from '/theme/vars.css';

.hide-form {
  display: none;
}

.form {
  margin-top: 60px;
}

.box {
  margin-bottom: 32px;
  display: block;
  max-width: 426px;
  width: 100%;
}

.radio-wrap {
  display: flex;
  align-items: stretch;
  margin-top: 32px;
  margin-bottom: 64px;
}

.title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.054em;
  margin-bottom: 32px;
}

.submit {
  margin-top: 10px;
}
