@value from-tablet-portrait, send-result-break-point, from-mobile from '/theme/vars.css';

.row {
  @media (min-width: send-result-break-point) {
    display: flex;
    align-items: flex-start;
  }
}

.title-offset {
  padding-bottom: 16px;

  @media (min-width: from-mobile) {
    margin-bottom: 32px;
  }

  @media (min-width: send-result-break-point) {
    padding-bottom: 64px;
  }
}

.message {
  max-width: 466px;
  font-size: 18px;

  @media (min-width: from-tablet-portrait) {
    font-size: 24px;
  }
}

.images {
  width: 240px;
  margin-bottom: 16px;
  position: relative;

  @media (min-width: from-mobile) {
    margin-bottom: 32px;
  }

  @media (min-width: send-result-break-point) {
    order: 2;
    margin-left: 120px;
    margin-top: -140px;
    margin-bottom: 0;
    width: 360px;
  }
}

.img,
.anim {
  width: 100%;
}

.anim {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}
