@value main-black-50, mobile-width from '/theme/vars.css';

.footer {
  @media (min-width: mobile-width + 1) {
    justify-content: space-between;
  }

  @media (max-width: mobile-width) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  display: flex;
}

.info {
  position: relative;
  color: main-black-50;
  font-size: 12px;
  margin-top: 24px;
  letter-spacing: -0.54px;
}

.social {
  display: flex;

  @media (min-width: mobile-width + 1) {
    order: 1;
  }

  @media (max-width: mobile-width) {
    margin-bottom: 72px;
  }
}

.link {
  &:not(:first-child) {
    margin-left: 24px;
  }
}
