@value main-black-50, to-mobile, from-mobile from '/theme/vars.css';

.footer {
  padding-top: 52px;
  padding-bottom: 32px;

  @media (min-width: from-mobile) {
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 43px;
  }

  @media (max-width: to-mobile) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  display: flex;
}

.info {
  position: relative;
  color: main-black-50;
  font-size: 12px;
  margin-top: 24px;
  letter-spacing: -0.54px;
}

.social {
  display: flex;

  @media (min-width: from-mobile) {
    order: 1;
  }

  @media (max-width: to-mobile) {
    margin-bottom: 72px;
  }
}

.link {
  &:not(:first-child) {
    margin-left: 24px;
  }
}
